* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dae3e3;
  font-family: Segoe UI, sans-serif;
}

header {
  position: sticky;
  top: 0;
  width: 99%;
  padding: 0.5%;
  background-color: white;
  z-index: 1;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  position: relative;
  width: 20%;
  font-size: 300%;
}

.logo {
  position: relative;
  box-shadow: none;
  float: left;
}

.nav-ul {
  display: flex;
  position: relative;
  width: 50%;
  float: right;
  list-style-type: none;
  margin: 2.5% 0 2.5% 0;
  justify-content: space-evenly;
}

.nav-li {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 200%;
  color: #04243c;
}

.nav-li:hover {
  color: #61c0c1;
}

.nav-li::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #61c0c1;

  position: absolute;
}

.nav-li:hover::before {
  width: 100%;

  transition: all ease-in-out 250ms;
}

main {
  overflow: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "contact about";
}

h1 {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: #04243c;
}

p {
  font-weight: bold;
}

.contact-box {
  grid-area: contact;
  padding: 2em;
}

#contact-headline {
  grid-area: headline;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#name-label,
#email-label,
#txt-label {
  font-weight: bold;
  font-size: x-large;
  display: flex;
  justify-content: center;
  color: #04243c;
}

input, #txt-area {
  display: flex;
  width: 50%;
  margin: 1em;
  height: 3em;
  border-radius: 8px;
  border: 2px solid #61c0c1;
  box-shadow: 3px 6px 9px #61c0c1;
}

input:focus {
  outline: none;
}

#txt-area {
  width: 46%;
  height: 5em;
  resize: none;
  outline: none;
  font-size: x-large;
  padding: 1em;
}

#submit {
  width: 30%;
  height: 5em;
  border-radius: 8px;
  border: none;
  background-color: #61c0c1;
  color: #04243c;

  text-transform: uppercase;
  font-weight: bold;
  font-family: Segoe UI, sans-serif;
  justify-content: center;

  animation: colorchange 3s ease-in-out infinite alternate;
}

@keyframes colorchange {
  from {
    background-color: #61c0c1;
    color: #04243c;
  }
  to {
    background-color: #04243c;
    color: white;
  }
}

.about-box {
  grid-area: about;
  padding: 2em;
}

footer {
  position: relative;
  width: 100%;
  background-color: white;
  bottom: 0;
}

footer::after {
  content: "";
  display: table;
  clear: both;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.fb-icon,
.insta-icon,
.twitter-icon {
  position: relative;
  width: 8%;
  margin: 3em 0 2em 0;
  box-shadow: none;
}
