* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #dae3e3;
  font-family: Segoe UI, sans-serif;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  background-color: white;
  z-index: 6;
}

.nav-ul {
  position: relative;
  float: right;
  list-style-type: none;
}

.nav-li {
  text-decoration: none;
  font-size: 200%;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-area: main;
  grid-template-areas:
    "seal seal shark"
    "sea-lion txt txt"
    "butterfly koi koi"
    "catfish lionfish lionfish";
}

#seal {
  grid-area: seal;
}

#shark {
  grid-area: shark;
}

.txt-box {
  position: absolute;
  grid-area: txt;
  font-size: x-large;
  border: 2px solid #04243c;
  box-shadow: 5px 10px 15px #04243c;
}

h2 {
  color: #04243c;
}

.sea-lion-txt {
  color: #04243c;
}

#sea-lion {
  grid-area: sea-lion;
}

#butterfly {
  grid-area: butterfly;
}

#koifish {
  grid-area: koi;
}

#catfish {
  grid-area: catfish;
}

#lionfish {
  grid-area: lionfish;
}

footer {
  grid-area: footer;
  grid-column: span 4;
  position: relative;
  background-color: white;
}

.social-media {
  width: 80%;
}

.fb-icon,
.insta-icon,
.twitter-icon {
  width: 10%;
  margin: 0 10% 0 10%;
}
