* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dae3e3;
  font-family: Segoe UI, sans-serif;
}

img {
  border-radius: 15px;
  box-shadow: 5px 10px 15px #61c0c1;
  margin: 1em 0 2em 0;
}

header {
  position: sticky;
  top: 0;
  width: 99%;
  padding: 0.5%;
  background-color: white;
  z-index: 1;
}

/*brukte denne biten for å unngå at header-bakgrunn ble borte*/
header::after {
  content: "";
  display: block;
  clear: both;
}

.logo {
  position: relative;
  box-shadow: none;
  float: left;
  margin: 0;
}

/* nav-bar starter her*/
.nav-ul {
  display: flex;
  position: relative;
  width: 50%;
  float: right;
  list-style-type: none;
  margin: 2.5% 0 2.5% 0;
  justify-content: space-evenly;
}

.nav-li {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 200%;
  color: #04243c;
}

.nav-li:hover {
  color: #61c0c1;
}

.nav-li::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #61c0c1;

  position: absolute;
}

.nav-li:hover::before {
  width: 100%;

  transition: all ease-in-out 250ms;
}

main {
  overflow: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "seal seal"
    "txt container2"
    "txt container2"
    "sea-lion butterfly";
  gap: 2em;
  padding: 2em;
}

#seal {
  grid-area: seal;
  position: relative;
  width: 100%;
  margin-bottom: 0;
}

.txt-box {
  grid-area: txt;
  font-size: x-large;
  background-color: #04243c;
  border: 2px solid #61c0c1;
  box-shadow: 5px 10px 15px #61c0c1;
  border-radius: 15px;
  text-align: center;
  padding: 1.5em;
}

h2 {
  color: #61c0c1;
}

.sea-lion-txt {
  color: #61c0c1;
}

.img-container-2 {
  grid-area: container2;
}

#sea-lion {
  grid-area: sea-lion;
  width: 100%;
}

#butterfly {
  grid-area: butterfly;
  width: 100%;
}

#catfish {
  grid-area: catfish;
  width: 100%;
  margin-top: 0;
}

#lionfish {
  grid-area: lionfish;
  width: 100%;
  margin-bottom: 0;
}

footer {
  position: relative;
  width: 100%;
  background-color: white;
  bottom: 0;
}

footer::after {
  content: "";
  display: block;
  clear: both;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.fb-icon,
.insta-icon,
.twitter-icon {
  position: relative;
  width: 8%;
  margin: 3em 0 2em 0;
  box-shadow: none;
}
