* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #dae3e3;
  font-family: Segoe UI, sans-serif;
}

header {
  position: sticky;
  top: 0;
  width: 99%;
  padding: 0.5%;
  background-color: white;
  z-index: 1;
}

header::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  position: relative;
  width: 20%;
  font-size: 300%;
}

.logo {
  position: relative;
  box-shadow: none;
  float: left;
}

.nav-ul {
  display: flex;
  position: relative;
  width: 50%;
  float: right;
  list-style-type: none;
  margin: 2.5% 0 2.5% 0;
  justify-content: space-evenly;
}

.nav-li {
  display: inline-block;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 200%;
  color: #04243c;
}

.nav-li:hover {
  color: #61c0c1;
}

.nav-li::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #61c0c1;

  position: absolute;
}

.nav-li:hover::before {
  width: 100%;

  transition: all ease-in-out 250ms;
}

.grid-container {
  display: grid;
  height: fit-content;
  justify-content: center;
  margin: 5em 5em 10em 5em;
  grid-template-areas:
    "child youth"
    "adult season";
  gap: 5em;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  color: #04243c;
}

h3 {
  text-align: center;
  font-size: x-large;
}

.ticket-children,
.ticket-youth,
.ticket-adults,
.ticket-seasonpass {
  background-color: white;
  border: 1px solid #34948c;
  border-radius: 8px;
  box-shadow: 5px 10px 15px #34948c;
  width: 30em;
  height: 40em;
}

.txt-children,
.txt-youth,
.txt-adults,
.txt-season {
  padding: 2em;
  color: #34948c;
}

#blue,
#red,
#siamese,
#koi {
  width: 30em;
  height: 20em;
  border-radius: 8px 8px 0 0;
}

.ticket-children {
  grid-area: child;
}

.ticket-youth {
  grid-area: youth;
}

.ticket-adults {
  grid-area: adult;
}

.ticket-seasonpass {
  grid-area: season;
}

.price-1,
.price-2,
.price-3,
.price-4 {
  font-size: xx-large;
  font-weight: bold;
  float: right;
}

.contact-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  font-size: 300%;
  margin: 0 0 1em 0;
}

.contact-txt {
  position: relative;
  width: 70%;
  color: #04243c;
  margin-left: 2em;
}

.contact-btn {
  position: relative;
  width: 20%;
  height: 50px;
  margin-right: 5em;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bolder;

  animation: colorchange 2s ease-in-out infinite alternate;
}

@keyframes colorchange {
  from {
    background-color: #61c0c1;
    color: #04243c;
  }

  to {
    background-color: #04243c;
    color: white;
  }
}

footer {
  position: relative;
  width: 100%;
  background-color: white;
  bottom: 0;
}

footer::after {
  content: "";
  display: block;
  clear: both;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.fb-icon,
.insta-icon,
.twitter-icon {
  position: relative;
  width: 10%;
  margin: 3em 0 2em 0;
  box-shadow: none;
}
